def currentDirPath = new File(System.getProperty("user.dir")).getCanonicalPath()
def condaDir = "${currentDirPath}/conda/bin"

report {
    enabled = true
    file = "nextflow.html"
}

trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
    file = "trace.txt"
    raw = true
}

timeline {
    enabled = true
    file = "timeline.html"
}

profiles {

    standard {
        // default configuration profile
        params.refDir = "ref"
        params.VEP_refDir = "ref"
        params.ref_fa = "${params.refDir}/genome.fa"
        params.ref_fai = "${params.refDir}/genome.fa.fai"
        params.ref_dict = "${params.refDir}/genome.dict"

        docker {
            enabled = true
        }
        process {
            withName: vep {
                container = "stevekm:vep-96.0"
            }
        }
    }

    bigpurple {
        params.VEP_refDir = "/gpfs/scratch/kellys04/molecpathlab/ref/vep"
        params.refDir = "/gpfs/scratch/kellys04/molecpathlab/ref"
        params.ref_fa = "${params.refDir}/iGenomes/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa"
        params.ref_fai = "${params.refDir}/iGenomes/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa.fai"
        params.ref_dict = "${params.refDir}/iGenomes/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.dict"

        process {
            executor = 'slurm'
            // global process config
            // try to prevent error: module: command not found by sourcing module config, and pausing to allow environment to finish populating
            params.SLURM_vars='SLURM_JOB_ID SLURM_JOB_NAME SLURM_JOB_NODELIST SLURM_JOB_PARTITION SLURM_MEM_PER_CPU SLURM_MEM_PER_NODE SLURM_PRIO_PROCESS SLURM_SUBMIT_DIR SLURM_SUBMIT_HOST SLURM_TASK_PID SLURMD_NODENAME'
            beforeScript = """
            export PATH="${condaDir}:\$PATH";
            . /etc/profile.d/modules.sh;
            sleep 1;
            printf "USER:\${USER:-none} HOSTNAME:\${HOSTNAME:-none} PWD:\$PWD NTHREADS:\${NTHREADS:-none}\n";
            for item in ${params.SLURM_vars}; do printf "\${item}: \${!item:-none}\t"; done;
            echo "";
            TIMESTART=\$(date +%s);
            env > .env.begin;
            """
            cpus = 1
            time = '1h'
            memory = { 8.GB * task.cpus }

            withName: download_ref {
                time = "24h"
            }
        }
    }
}
